# /etc/caddy/Caddyfile

%{ for svc in services ~}
${svc.subdomain}.${domain} {
    encode zstd gzip

    reverse_proxy ${media_server_ip}:${svc.port}

    tls {
        dns route53 {
            max_retries 10
        }
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }
}

%{ endfor ~}
